/*Geral*/
body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: #21243D;
    text-decoration: none;
}

/*Header*/

header ul li{
    text-align: center;
    padding: 10px 10px;
    margin: 10px 10px;
}
